{% extends "base.html" %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
  }
</style>
{% comment %}
<!-- Before using different components -->
<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <ul>
      <li><a href="{% url 'home' %}">All</a></li>
    </ul>
    {% for topic in topics %}
    <ul>
      <a href="{% url 'home' %}?q={{topic.name}} "><li>{{topic.name}}</li></a>
      <!-- here q represents query set through which we get the access the elements eith the room_topic = topic name -->
    </ul>
    {% endfor %}
    <hr />
  </div>
  <div>
    <h5>{{rooms_count}} Rooms available</h5>
    <div>
      <a href="{% url 'create-room' %}">Create Room</a>
    </div>
    <hr />
    <div>
      {% for room in rooms %}
      <div>
        {% if room.host == request.user %}
        <a href="{% url 'update-room' room.id %}">Edit Details</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% endif %}
        <span>@{{room.host}} </span>
        <!-- h5>{{room.id}}--{{room.name}}</h5 -->
        <!--h5>{{room.id}}<a href="/room/{{room.id}}">{{room.name}}</a></h5-->
        <h5>{{room.id}}<a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
        <span>{{room.topic}}</span>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
  <div>
    <h2>Recent Activity</h2>
    <div>
      {% for message in room_messages %}
      <div>
        <h3>@{{message.user}} &nbsp {{message.created | timesince}} ago</h3>
        <p>replied to post '{{message.room.name}}'</p>
        <p>{{message.body}}</p>
        {% if request.user == message.user %}
        <a href="{% url 'edit-message' message.id %}">Edit Details</a> &nbsp
        <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>

{% endcomment %}

<!-- After using different components -->
<div class="home-container">
  <div>{% include 'base/topics_component.html' %}</div>
  <div>
    <h5>{{rooms_count}} Rooms available</h5>
    <div>
      <a href="{% url 'create-room' %}">Create Room</a>
    </div>
    <hr />
    {% include "base/feed_component.html" %}
  </div>
  <div>{% include "base/activity_component.html" %}</div>
  <!--  Now we can use activity component whereever we want and can make changes in it accordinly   -->
</div>
{% endblock content %}
